body {
  font-family: "Roboto", sans-serif;
  color: #3a3f52;
}

h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #53627c;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

b {
  font-weight: 700;
}

section {
  padding: 100px 0px;
}

.title-block {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.title-block p {
  font-size: 20px;
  font-weight: 300;
  color: #8da2b5;
  margin-bottom: 0px;
}

.divider {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #3c3f45;
}

.divider-light {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #edf1f2;
}

/* ==============================================
   2. Navbar 
===============================================*/

.custom-navbar {
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  height: 70px;
  max-height: 70px;
}

.navbar-toggler {
  font-size: 38px;
  background-color: transparent;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-collapse {
  background-color: #ffffff;
}

.nav-custom-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: 5px;
}

.navbar a {
  color: #53627c !important;
}

.nav-right {
  float: right;
}

/* ==============================================
   3. Buttons
===============================================*/

.btn {
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.btn:hover {
  text-decoration: none;
}

.btn-regular {
  background-color: #07bb58;
  color: #ffffff;
  padding: 10px 25px;
  letter-spacing: 0.1em;
  margin-top: 25px;
  display: inline-block;
}

.btn-regular:hover {
  background-color: #07bb58;
  color: #ffffff;
}

.btn-demo {
  color: #ffffff;
  background-color: #07bb58;
  letter-spacing: 0.1em;
  padding: 15px 48px;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.btn-demo:hover {
  color: #ffffff;
  background-color: #07bb58;
}

.btn-demo-small {
  font-size: 12px;
  background-color: #07bb58;
  padding: 1px 4px;
}

.btn-demo-small:hover {
  background-color: #07bb58;
}

.btn-demo-small a {
  color: #ffffff !important;
}

.btn-buy {
  color: #ffffff;
  background-color: #07bb58;
  letter-spacing: 0.1em;
  padding: 15px 48px;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.btn-buy:hover {
  background-color: #07bb58;
  color: #ffffff;
}

/* ==============================================
   4. Hero
===============================================*/

#hero {
  background-color: #f6f8f9;
}

#hero h1 {
  font-size: 50px;
  font-weight: 300;
}

#hero p {
  font-size: 24px;
  font-weight: 300;
  color: #8da2b5;
  margin-bottom: 0px;
  padding: 0px;
}

#hero span {
  font-weight: 400;
  color: #07bb58;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* ==============================================
   5. Marketing
===============================================*/

#marketing p {
  font-size: 20px;
  font-weight: 300;
  color: #8da2b5;
  margin-bottom: 0px;
  padding: 0px;
}

#marketing span {
  font-weight: 400;
  color: #07bb58;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.content-box {
  padding: 60px 20px;
}

.pricing-box {
  background-color: #e9e4e4;
  padding: 40px 20px;
  border: 1px solid #fafafa;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgba(0, 12, 32, 0.04),
    0 10px 16px 0 rgba(10, 31, 68, 0.06);
  margin-top: 30px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.pricing-box:hover {
  background-color: rgba(
    163,
    238,
    140,
    0.8
  ); /* Lighter grey with translucence */
}

.pricing-box h3 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #07bb58;
}

.pricing-box h6 {
  font-size: 60px;
  font-weight: 700;
  color: #3a3f52;
  margin-bottom: 0px;
}

.pricing-box p {
  font-size: 17px;
  margin-top: 15px;
  padding: 0px;
}

.pricing-box ul {
  padding-left: 10px;
}

.pricing-box li {
  font-size: 14px;
  font-weight: 300;
  color: #07bb58;
  letter-spacing: 0.1em;
}

.pricing-box span {
  font-weight: 500;
  color: #07bb58;
}

.pricing-box small {
  color: #07bb58;
  letter-spacing: 0.2em;
}

.pricing-box i {
  font-size: 20px;
  color: #07bb58;
  margin-right: 10px;
}

.pricing-box .demo {
  color: #07bb58 !important;
}

/* ==============================================
   8. Call to Action
===============================================*/

#call-to-action {
  background-image: url("images/call-to-action.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#call-to-action h2 {
  color: #ffffff;
}

#call-to-action p {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 40px;
}

#call-to-action .title-block {
  margin-bottom: 0px;
}

#call-to-action .btn-regular {
  background-color: #ffffff !important;
  color: #07bb58 !important;
  padding: 15px 45px;
}

#call-to-action .title-block {
  margin-bottom: 0px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .icon-mobile {
    display: none;
  }
  .nav-logo-mobile {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-content {
    margin-top: 100px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .pricing-box h3 {
    font-size: 17px;
  }
  .pricing-box p {
    font-size: 14px;
  }
  .pricing-box li {
    font-size: 12px;
  }
  .btn-buy {
    font-size: 12px;
    padding: 15px 20px;
  }
  .btn-demo {
    font-size: 12px;
    padding: 15px 20px;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
  }
  .testimonial-box h6 {
    font-size: 14px;
    margin-left: 10px;
  }
  .testimonial-box span {
    font-size: 12px;
  }
  .testimonial-box small {
    font-size: 12px;
    margin-top: 4px;
    margin-left: 10px;
  }
}
.logit {
  width: 60px !important;
}

.you {
  color: green;
}

.boller {
  max-width: 400px; /* Increased width */
  width: 100%;
  margin: auto;
  padding: 30px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff; /* White background for the card */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-top: 100px;
}
h2 {
  color: #333; /* Dark text color */
  margin-bottom: 20px; /* Spacing below the heading */
}
input {
  width: 100%;
  padding: 12px; /* Increased padding */
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Increased font size */
}
button {
  padding: 12px; /* Increased padding */
  width: 100%;
  background-color: #4a7c2e; /* Olive green */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px; /* Increased font size */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Transition effects */
}
button:hover {
  background-color: #5a9c3a; /* Lighter olive green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
#error-message {
  color: red;
  margin-top: 10px; /* Spacing above the error message */
}
